@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&display=swap');

*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}

.heart{
  padding: 1rem;
  font-size: 3rem;
  position: fixed;
  top: -9vh;
  transform: translateY(0);
  animation: fall 3s linear;
}

@keyframes fall {
  to{
    transform: translateY(105vh);
  }
}

.heart:hover{
  transform: scale(2);
  cursor: pointer;
}