@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&display=swap');

*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}

.carousel{
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .3);
  max-width: 600px;
  max-height: 600px;
  overflow: hidden;
}

.image-container{
  display: flex;
  transition: all .3s linear;
}

img{
  width: 100%;
  object-fit: cover;
}